body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url('https://about300.files.wordpress.com/2013/08/20130829-012159.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}